<%= turbo_frame_tag("articles_list") do %>
  <% if @articles.any? %>
    <ul id="list">
      <% @articles.each do |article| %>
        <%= render(partial: "articles/article", locals: { article: article }) %>
      <% end %>
    </ul>
  <% else %>
    <p>None</p>
  <% end %>
<% end %>
